body {
  background-image: url(Imgages/BackgroundSpace.png);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  user-select: none;
  height: 100%;
}

.map {
  height: 660px;
  margin-left: 10px;
}

.headbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
}

.spaceship {
  width: 128px;
  height: 100px;
  background-image: url(Imgages/SpaceshipRed.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.settings {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.gearPNG {
  width: 70px;
  height: 70px;
}

.scoreBoard {
  width: 700px;
  height: 70px;
  margin-top: 15px;
  margin-right: 30px;
  position: relative;
  display: flex;
  font-size: 30px;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
}

.timer {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  position: absolute;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
}

.currentScore {
  width: 400px;
  height: 50px;
}

.bestScore {
  width: 300px;
  height: 50px;
}

.settingsList {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  width: 200px;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  display: none;
  justify-content: end;
  border: 3px black solid;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(172, 100, 219, 0.6);
}

.diff {
  display: block;
  cursor: pointer;
}

.diffselecterdiv {
  display: none;
  margin-left: 10px;
}

.settingsList input {
  display: none;
}

.settingsList div {
  cursor: pointer;
}

.settingsList label {
  font-size: 18px;
  cursor: pointer;
}

.difinput {
  font-size: 5px;
}

.selectedDiff {
  background-color: darkgreen;
}

.diffpadd {
  padding: 3px;
  border-radius: 10px;
}

.spaceshipchooser {
  display: none;
  position: fixed;
  width: 1000px;
  height: 500px;
  top: 250px;
  left: 50%;
  translate: -50%;
  cursor: pointer;
}

.spaceshipchooser span {
  color: wheat;
  font-family: cursive;
  font-size: 16px;
}

.spaceships img {
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -70%;
}

.spaceships {
  width: 200px;
  height: 200px;
  left: 10px;
  display: inline-block;
  position: relative;
  margin: 21px;
  padding: 0px;
}

.spaceships span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50%;
}

.selectedSpaceship {
  background-color: rgb(255, 160, 122, 0.5);
  border-radius: 40px;
}

.backroundChooser {
  display: none;
}

.backroundChooser div {
  border-radius: 10px;
  padding: 2px;
  top: 10px;
  position: relative;
  padding-left: 10px;
}

.backroundChooser img {
  width: 50px;
  position: absolute;
  top: 2px;
  right: 30px;
}

.selectedBg {
  background-color: darkred;
}

.apply {
  background-image: url(Imgages/Applybutton.png);
  background-size: 100%;
  background-position: center;
  position: relative;
  justify-self: center;
  width: 120px;
  height: 50px;
  margin-top: 10px;
}

.harts {
  background-image: url(Imgages/Heart.png);
  background-size: contain;
  width: 180px;
  height: 60px;
  position: absolute;
  left: 250px;
  top: 20px;
  background-repeat: repeat-x;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url(Imgages/BackgroundMenu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
  color: white;
}

.menuponts {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
}

.menuponts div {
  border: 3px white solid;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 10px 40px 10px 40px;
}

.gametitle {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% -50%;
  font-size: 60px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
}

.backToMainMenu {
  background-image: url(Imgages/MainMenubutton.png);
  background-size: 100%;
  background-position: center;
  position: absolute;
  width: 150px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.backToMenu {
  background-image: url(Imgages/MainMenubutton.png);
  background-size: 100%;
  background-position: center;
  position: absolute;
  width: 150px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}

.instrlist {
  background-color: rgba(0, 0, 0, 70%);
  border: 3px white solid;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  padding: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 600px;
  height: 850px;
  display: none;
}

.instrlist p {
  margin: 3px;
  font-size: 18px;
}
