body {
  background-image: url(Imgages/BackgroundSpace.png);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  user-select: none;
}

.map {
  height: 660px;
  margin-left: 10px;
}

.menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
}

.spaceship {
  width: 128px;
  height: 100px;
  background-image: url(Imgages/SpaceshipRed.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.settings {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding-right: 15px;
}

.gearPNG {
  width: 70px;
  height: 70px;
}

.scoreBoard {
  width: 700px;
  height: 70px;
  margin-top: 15px;
  margin-right: 30px;
  position: relative;
  display: flex;
  font-size: 30px;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
}

.timer {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  position: absolute;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
}

.currentScore {
  width: 400px;
  height: 50px;
}

.bestScore {
  width: 300px;
  height: 50px;
}

.settingsList {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  width: 200px;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  display: none;
  justify-content: end;
}

.settingsList p {
  margin-top: 0;
  margin-bottom: 0px;
}

.settingsList span {
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  display: none;
}

.selectedDiff {
  background-color: darkgreen;
}

.spaceshipchooser {
  display: none;
  position: fixed;
  width: 1000px;
  height: 500px;
  top: 250px;
  left: 50%;
  translate: -50%;
  background-color: gray;
}

.spaceships img {
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -70%;
}

.spaceships {
  width: 200px;
  height: 200px;
  left: 10px;
  background-color: red;
  display: inline-block;
  position: relative;
  margin: 21px;
  padding: 0px;
}

.spaceships span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50%;
}

.backroundChooser {
  display: none;
}

.backroundChooser div {
  border-radius: 10px;
  padding: 2px;
  top: 10px;
  position: relative;
  padding-left: 10px;
}

.backroundChooser img {
  width: 50px;
  position: absolute;
  top: 2px;
  right: 30px;
}

.selectedBg {
  background-color: darkred;
}
