body {
  background-image: url(Imgages/Background.png);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.map {
  height: 660px;
  margin-left: 10px;
}

.menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
}

.spaceship {
  width: 128px;
  height: 100px;
  background-image: url(Imgages/SpaceshipRed.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.settings {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding-right: 15px;
}

.gearPNG {
  width: 70px;
  height: 70px;
}

.scoreBoard {
  width: 700px;
  height: 70px;
  margin-top: 15px;
  margin-right: 30px;
  position: relative;
  display: flex;
  font-size: 30px;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
}

.timer {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  position: absolute;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
  
}

.currentScore {
  width: 400px;
  height: 50px;
  
}

.bestScore {
  width: 300px;
  height: 50px;
}

.settingsList {
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  width: 300px;
  color: wheat;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  justify-content: end;
}

.settingsList p {
  margin-top: 0;
  margin-bottom: 0px;
}

.settingsList span {
  font-size: 16px;
}